<%!
from splunk.appserver.mrsparkle.lib import util

app_name = cherrypy.request.path_info.split('/')[3]
%>\
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>${_('Loading')}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="${util.getFaviconURL()}" />
        <base  >
    </head>

    <body>
        <script src="${make_url('/config?autoload=1')}" crossorigin="use-credentials"></script>
        <script src="${make_url('/static/js/i18n.js')}"></script>
        <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
        <script>
            __splunkd_partials__ = ${json_decode(splunkd)};
        </script>

        <% page_path = "/static/app/" + app_name + "/js/build/entry_page.js" %>

        <script type="module" src="${make_url(page_path)}"></script>
        <script src="${make_url('/static/app/Splunk_TA_NetApp_ontap/js/data_collection_page.js')}" defer></script>
    </body>
</html>